In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("BioTIMEQuery02_04_2018.csv")

C:\Users\Foggy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
0,1,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,23,47.4,-95.12,1.0,0.0,Acer,saccharum,Acer saccharum
1,2,10,NaN,NaN,1984,47.400000_-95.120000_9_Treefall_Base_Small,9,23,47.4,-95.12,2.0,0.0,Acer,saccharum,Acer saccharum
2,3,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Small,1,1959,47.4,-95.12,2.0,0.0,Prunus,virginiana,Prunus virginiana
3,4,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,22,47.4,-95.12,2.0,0.0,Acer,rubrum,Acer rubrum
4,5,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,1959,47.4,-95.12,1.0,0.0,Prunus,virginiana,Prunus virginiana

In [19]:
data.loc[ data['MONTH'] > 12 ]['MONTH'].count()

12520

In [24]:
data.loc[ (data['STUDY_ID'] == 341) & (data['PLOT'] == 'E_28') ].sort_values(['YEAR', "MONTH"])

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
6865902,6897662,341,15.0,1.0,2015,2015_E_28,E_28,44225,-23.989117,-46.745583,3.0,0.0,Dendrophryniscus,sp,Dendrophryniscus sp
6866700,6898460,341,16.0,1.0,2015,2015_E_28,E_28,44028,-23.988267,-46.749067,2.0,0.0,Bokermanohyla,circumdata,Bokermanohyla circumdata
6866701,6898461,341,16.0,1.0,2015,2015_E_28,E_28,44356,-23.989117,-46.745583,5.0,0.0,Fritziana,fissilis,Fritziana fissilis
6866702,6898462,341,16.0,1.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865944,6897704,341,15.0,2.0,2015,2015_E_28,E_28,44926,-23.989117,-46.745583,5.0,0.0,Rhinella,ornata,Rhinella ornata
6866785,6898545,341,16.0,2.0,2015,2015_E_28,E_28,44029,-23.989117,-46.745583,3.0,0.0,Bokermanohyla,hylax,Bokermanohyla hylax
6866786,6898546,341,16.0,2.0,2015,2015_E_28,E_28,44356,-23.989117,-46.745583,3.0,0.0,Fritziana,fissilis,Fritziana fissilis
6866787,6898547,341,16.0,2.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6866880,6898640,341,17.0,2.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6866440,6898200,341,30.0,11.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,7.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865550,6897310,341,1.0,12.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6866083,6897843,341,2.0,12.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,7.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865724,6897484,341,13.0,1.0,2016,2016_E_28,E_28,45157,-23.989117,-46.745583,4.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865916,6897676,341,15.0,1.0,2016,2016_E_28,E_28,45157,-23.988267,-46.749067,3.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865917,6897677,341,15.0,1.0,2016,2016_E_28,E_28,45157,-23.989117,-46.745583,4.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865441,6897201,341,10.0,2.0,2016,2016_E_28,E_28,45157,-23.989117,-46.745583,3.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa

In [26]:
data.loc[ (data['sum.allrawdata.BIOMASS'] > 0.0) & (True) ]

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
28658,28659,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6919,-17.500000,-149.000000,23.0,1417.000000,Lutjanus,kasmira,Lutjanus kasmira
28659,28660,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6238,-17.500000,-149.000000,19.0,257.540008,Gnathodentex,aureolineatus,Gnathodentex aureolineatus
28660,28661,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6014,-17.500000,-149.000000,2.0,39.700001,Epinephelus,merra,Epinephelus merra
28661,28662,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6658,-17.500000,-149.000000,1.0,7.150000,Labroides,dimidiatus,Labroides dimidiatus
28662,28663,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,8016,-17.500000,-149.000000,4.0,1.410000,Pseudojuloides,atavai,Pseudojuloides atavai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8496863,8528623,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,49337,51.527676,13.051715,0.0,1.000000,Urtica,dioica,Urtica dioica
8496864,8528624,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,50070,51.527676,13.051715,0.0,37.500000,Agropyron,repens,Agropyron repens
8496865,8528625,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,51037,51.527676,13.051715,0.0,4.000000,Potentilla,reptans,Potentilla reptans
8496866,8528626,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,51147,51.527676,13.051715,0.0,1.000000,Symphytum,officinale,Symphytum officinale
8496867,8528627,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,680,51.527676,13.051715,0.0,1.000000,Dactylis,glomerata,Dactylis glomerata

In [46]:
# Rename columns
d2 = data.rename(columns={'sum.allrawdata.ABUNDANCE': 'ABUNDANCE', 'sum.allrawdata.BIOMASS': 'BIOMASS'})
# Data with only Abundance
def only_ab(abundance, biomass):
    if abundance > 0:
        if biomass == 0.0 or biomass == numpy.nan:
            return True
    return False
d2['only_ab'] = d2.apply(lambda x: (x['ABUNDANCE'] > 0) and ((x['BIOMASS'] == 0.0) or (x['BIOMASS'].isna())) )

KeyError: ('ABUNDANCE', 'occurred at index Unnamed: 0')

In [40]:
set([type(x) for x in d2['BIOMASS'].unique()])

{numpy.float64}

In [41]:
import numpy
numpy.nan

nan

In [44]:
type(numpy.nan)

float

In [43]:
numpy.nan > 0

False