# UK Elections

The files for this dataset comprise of 5 files:
* `HoC-GE2019-results-by-constituency.csv` - The results of the 2019 election, by constituency.
* `HoC-GE2019-results-by-candidate.csv` - The results of the 2019 election, by candidate.
* `HoC-GE2017-constituency-results.csv` - The results of the 2017 election, by constituency.
* `HoC-GE2017-results-by-candidate.csv` - The results of the 2017 election, by candidate.
* `EU-referendum-result-data.csv` - More detailed data about the EU Referendum vote, by constituency.

The metadata (column descriptions) for the various files can be found in the included `metadata.txt` file.

#### Starting Questions:

* 

* 

*

### Import required dependencies

In [1]:
# Import necessary libraries
import pandas as pd

### Read in the datafiles

In [2]:
# Read in the datafiles
ca2019 = pd.read_csv("data/HoC-GE2019-results-by-candidate.csv")
ca2017 = pd.read_csv("data/HoC-GE2017-results-by-candidate.csv")
con2019 = pd.read_csv("data/HoC-GE2019-results-by-constituency.csv")
con2017 = pd.read_csv("data/HoC-GE2017-constituency-results.csv")
referendum = pd.read_csv("data/EU-referendum-result-data.csv")

In [3]:
ca2019.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Labour,Lab,Stephen,Kinnock,Male,Yes,Yes,17008,0.538262,-0.142933
1,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Conservative,Con,Charlotte,Lang,Female,No,No,6518,0.206279,0.028901
2,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Brexit Party,Brexit,Glenda,Davies,Female,No,No,3108,0.098361,NaN
3,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Plaid Cymru,PC,Nigel,Hunt,Male,No,No,2711,0.085797,0.002804
4,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Liberal Democrat,LD,Sheila,Kingston-Jones,Female,No,No,1072,0.033926,0.015921

In [4]:
con2019.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,green,snp,pc,dup,sf,sdlp,uup,alliance,other,other_winner
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,2019-12-13 02:30:00,Stephen,Kinnock,...,450,0,2711,0,0,0,0,0,731,0
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,2019-12-13 03:09:00,Robin,Millar,...,0,0,2704,0,0,0,0,0,0,0
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,2019-12-13 03:13:00,Kirsty,Blackman,...,880,20205,0,0,0,0,0,0,0,0
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,2019-12-13 03:34:00,Stephen,Flynn,...,0,20388,0,0,0,0,0,0,0,0
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,2019-12-13 02:59:00,Neil,Gray,...,685,17929,0,0,0,0,0,0,0,0

In [5]:
referendum.head()

,id,Region_Code,Region,Area_Code,Area,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,...,Remain,Leave,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected
0,108,E12000006,East,E06000031,Peterborough,120892,87474,87469,72.35,87469,...,34176,53216,77,0,32,7,38,39.11,60.89,0.09
1,109,E12000006,East,E06000032,Luton,127612,84633,84636,66.31,84616,...,36708,47773,135,0,85,0,50,43.45,56.55,0.16
2,112,E12000006,East,E06000033,Southend-on-Sea,128856,93948,93939,72.90,93939,...,39348,54522,69,0,21,0,48,41.92,58.08,0.07
3,113,E12000006,East,E06000034,Thurrock,109897,79969,79954,72.75,79950,...,22151,57765,34,0,8,3,23,27.72,72.28,0.04
4,110,E12000006,East,E06000055,Bedford,119530,86136,86136,72.06,86135,...,41497,44569,69,0,26,1,42,48.22,51.78,0.08