In [1]:
import pandas as pd

data = pd.read_csv("data/US_Accidents_Dec19.csv")

In [2]:
data.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974335 entries, 0 to 2974334
Data columns (total 49 columns):
ID                       object
Source                   object
TMC                      float64
Severity                 int64
Start_Time               object
End_Time                 object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description              object
Number                   float64
Street                   object
Side                     object
City                     object
County                   object
State                    object
Zipcode                  object
Country                  object
Timezone                 object
Airport_Code             object
Weather_Timestamp        object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction           object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition        object
Amenity                  bool
Bump                     bool
Crossing                 bool
Give_Way                 bool
Junction                 bool
No_Exit                  bool
Railway                  bool
Roundabout               bool
Station                  bool
Stop                     bool
Traffic_Calming          bool
Traffic_Signal           bool
Turning_Loop             bool
Sunrise_Sunset           object
Civil_Twilight           object
Nautical_Twilight        object
Astronomical_Twilight    object
dtypes: bool(13), float64(14), int64(1), object(21)
memory usage: 853.8+ MB

In [4]:
data.iloc[1]

ID                                                                     A-2
Source                                                            MapQuest
TMC                                                                    201
Severity                                                                 2
Start_Time                                             2016-02-08 06:07:59
End_Time                                               2016-02-08 06:37:59
Start_Lat                                                          39.9281
Start_Lng                                                         -82.8312
End_Lat                                                                NaN
End_Lng                                                                NaN
Distance(mi)                                                          0.01
Description              Accident on Brice Rd at Tussing Rd. Expect del...
Number                                                                2584
Street                                                            Brice Rd
Side                                                                     L
City                                                          Reynoldsburg
County                                                            Franklin
State                                                                   OH
Zipcode                                                         43068-3402
Country                                                                 US
Timezone                                                        US/Eastern
Airport_Code                                                          KCMH
Weather_Timestamp                                      2016-02-08 05:51:00
Temperature(F)                                                        37.9
Wind_Chill(F)                                                          NaN
Humidity(%)                                                            100
Pressure(in)                                                         29.65
Visibility(mi)                                                          10
Wind_Direction                                                        Calm
Wind_Speed(mph)                                                        NaN
Precipitation(in)                                                        0
Weather_Condition                                               Light Rain
Amenity                                                              False
Bump                                                                 False
Crossing                                                             False
Give_Way                                                             False
Junction                                                             False
No_Exit                                                              False
Railway                                                              False
Roundabout                                                           False
Station                                                              False
Stop                                                                 False
Traffic_Calming                                                      False
Traffic_Signal                                                       False
Turning_Loop                                                         False
Sunrise_Sunset                                                       Night
Civil_Twilight                                                       Night
Nautical_Twilight                                                    Night
Astronomical_Twilight                                                  Day
Name: 1, dtype: object

In [5]:
data['Wind_Direction'].unique()

array(['Calm', 'SW', 'SSW', 'WSW', 'WNW', 'NW', 'West', 'NNW', 'NNE',
       'South', 'North', 'Variable', 'SE', 'SSE', 'ESE', 'East', 'NE',
       'ENE', 'E', 'W', nan, 'S', 'VAR', 'CALM', 'N'], dtype=object)

In [6]:
data.loc[data['Temperature(F)'].notna()]['Temperature(F)'].sort_values()

1955638    -77.8
1955643    -77.8
1542979    -77.8
1542972    -77.8
200811     -77.8
200839     -77.8
201314     -77.8
201316     -77.8
1542969    -77.8
1841716    -77.8
2843539    -77.8
2773943    -40.0
1029872    -33.0
1089297    -32.8
1291470    -29.9
1089421    -29.0
2669994    -29.0
2669481    -29.0
1203088    -29.0
1203018    -27.9
1200587    -27.9
1203081    -27.9
1089399    -27.9
2669993    -27.9
2669989    -27.9
1203079    -27.9
1203021    -27.9
1203020    -27.9
1203080    -27.9
1203089    -27.9
           ...
1555465    118.0
2468852    118.0
2271290    118.4
2468828    118.4
2624030    118.4
292329     118.4
289330     118.4
2468951    118.4
289302     122.0
289272     122.0
289294     122.0
363913     123.8
1555881    127.4
2264293    127.4
2271076    129.2
1296437    129.2
1296433    129.2
2271077    129.2
177681     132.6
290246     132.8
273862     136.4
291722     136.4
273861     136.4
292040     140.0
273855     143.6
2138321    158.0
292021     161.6
504594     167.0
2750892    168.8
2631256    170.6
Name: Temperature(F), Length: 2918272, dtype: float64

In [7]:
ht = data.loc[data['Temperature(F)'] > 150]

In [8]:
ht[ ['Temperature(F)', 'State', 'Start_Lat', 'Start_Lng', 'Start_Time'] ]

         Temperature(F) State  Start_Lat   Start_Lng           Start_Time
292021            161.6    TX  30.438290  -97.659142  2016-10-19 12:06:30
504594            167.0    CT  41.548187  -73.067635  2017-07-21 11:13:24
2138321           158.0    FL  28.523067  -82.237770  2017-09-13 04:47:02
2631256           170.6    AZ  33.282800 -111.796740  2019-03-26 20:00:27
2750892           168.8    IL  41.645950  -87.578510  2018-08-27 08:38:39