In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("data/BioTIMEQuery02_04_2018.csv")

In [5]:
data.head()

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
0,1,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,23,47.4,-95.12,1.0,0.0,Acer,saccharum,Acer saccharum
1,2,10,NaN,NaN,1984,47.400000_-95.120000_9_Treefall_Base_Small,9,23,47.4,-95.12,2.0,0.0,Acer,saccharum,Acer saccharum
2,3,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Small,1,1959,47.4,-95.12,2.0,0.0,Prunus,virginiana,Prunus virginiana
3,4,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,22,47.4,-95.12,2.0,0.0,Acer,rubrum,Acer rubrum
4,5,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,1959,47.4,-95.12,1.0,0.0,Prunus,virginiana,Prunus virginiana

In [6]:
data.loc[ data['MONTH'] > 12 ]['MONTH'].count()

12520

In [7]:
data.loc[ (data['STUDY_ID'] == 341) & (data['PLOT'] == 'E_28') ].sort_values(['YEAR', "MONTH"])

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
6865902,6897662,341,15.0,1.0,2015,2015_E_28,E_28,44225,-23.989117,-46.745583,3.0,0.0,Dendrophryniscus,sp,Dendrophryniscus sp
6866700,6898460,341,16.0,1.0,2015,2015_E_28,E_28,44028,-23.988267,-46.749067,2.0,0.0,Bokermanohyla,circumdata,Bokermanohyla circumdata
6866701,6898461,341,16.0,1.0,2015,2015_E_28,E_28,44356,-23.989117,-46.745583,5.0,0.0,Fritziana,fissilis,Fritziana fissilis
6866702,6898462,341,16.0,1.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865944,6897704,341,15.0,2.0,2015,2015_E_28,E_28,44926,-23.989117,-46.745583,5.0,0.0,Rhinella,ornata,Rhinella ornata
6866785,6898545,341,16.0,2.0,2015,2015_E_28,E_28,44029,-23.989117,-46.745583,3.0,0.0,Bokermanohyla,hylax,Bokermanohyla hylax
6866786,6898546,341,16.0,2.0,2015,2015_E_28,E_28,44356,-23.989117,-46.745583,3.0,0.0,Fritziana,fissilis,Fritziana fissilis
6866787,6898547,341,16.0,2.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6866880,6898640,341,17.0,2.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6866440,6898200,341,30.0,11.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,7.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865550,6897310,341,1.0,12.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,2.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6866083,6897843,341,2.0,12.0,2015,2015_E_28,E_28,45157,-23.989117,-46.745583,7.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865724,6897484,341,13.0,1.0,2016,2016_E_28,E_28,45157,-23.989117,-46.745583,4.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865916,6897676,341,15.0,1.0,2016,2016_E_28,E_28,45157,-23.988267,-46.749067,3.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865917,6897677,341,15.0,1.0,2016,2016_E_28,E_28,45157,-23.989117,-46.745583,4.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa
6865441,6897201,341,10.0,2.0,2016,2016_E_28,E_28,45157,-23.989117,-46.745583,3.0,0.0,Vitrerana,uranoscopa,Vitrerana uranoscopa

In [8]:
data.loc[ (data['sum.allrawdata.BIOMASS'] > 0.0) & (True) ]

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
28658,28659,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6919,-17.500000,-149.000000,23.0,1417.000000,Lutjanus,kasmira,Lutjanus kasmira
28659,28660,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6238,-17.500000,-149.000000,19.0,257.540008,Gnathodentex,aureolineatus,Gnathodentex aureolineatus
28660,28661,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6014,-17.500000,-149.000000,2.0,39.700001,Epinephelus,merra,Epinephelus merra
28661,28662,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6658,-17.500000,-149.000000,1.0,7.150000,Labroides,dimidiatus,Labroides dimidiatus
28662,28663,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,8016,-17.500000,-149.000000,4.0,1.410000,Pseudojuloides,atavai,Pseudojuloides atavai
28663,28664,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6421,-17.500000,-149.000000,2.0,28.430000,Heniochus,chrysostomus,Heniochus chrysostomus
28664,28665,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6657,-17.500000,-149.000000,1.0,4.880000,Labroides,bicolor,Labroides bicolor
28665,28666,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,5767,-17.500000,-149.000000,2.0,4.210000,Dascyllus,aruanus,Dascyllus aruanus
28666,28667,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,7901,-17.500000,-149.000000,1.0,1.710000,Pomacentrus,pavo,Pomacentrus pavo
28667,28668,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,6262,-17.500000,-149.000000,1.0,45.500000,Gomphosus,varius,Gomphosus varius
28668,28669,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,8267,-17.500000,-149.000000,8.0,32.130001,Scarus,psittacus,Scarus psittacus
28669,28670,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,7043,-17.500000,-149.000000,1.0,26.200001,Melichthys,vidua,Melichthys vidua
28670,28671,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6262,-17.500000,-149.000000,2.0,60.700001,Gomphosus,varius,Gomphosus varius
28671,28672,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6369,-17.500000,-149.000000,5.0,13.620000,Halichoeres,trimaculatus,Halichoeres trimaculatus
28672,28673,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,6369,-17.500000,-149.000000,7.0,128.750000,Halichoeres,trimaculatus,Halichoeres trimaculatus
28673,28674,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,7043,-17.500000,-149.000000,1.0,26.200001,Melichthys,vidua,Melichthys vidua
28674,28675,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,7618,-17.500000,-149.000000,1.0,11.700000,Parapercis,millepunctata,Parapercis millepunctata
28675,28676,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Backreef_Fish_Tr...,NaN,7679,-17.500000,-149.000000,1.0,24.700001,Parupeneus,insularis,Parupeneus insularis
28676,28677,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,8087,-17.500000,-149.000000,1.0,260.100006,Pygoplites,diacanthus,Pygoplites diacanthus
28677,28678,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,5769,-17.500000,-149.000000,1.0,6.010000,Dascyllus,trimaculatus,Dascyllus trimaculatus
28678,28679,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,5695,-17.500000,-149.000000,4.0,180.800003,Ctenochaetus,striatus,Ctenochaetus striatus
28679,28680,45,1.0,8.0,2010,-17.500000_-149.000000_LTER_4_Fringing_Reef_Fi...,NaN,6658,-17.500000,-149.000000,2.0,3.000000,Labroides,dimidiatus,Labroides dimidiatus
28680,28681,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,5768,-17.500000,-149.000000,27.0,95.720001,Dascyllus,flavicaudus,Dascyllus flavicaudus
28681,28682,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,5988,-17.500000,-149.000000,1.0,58.900002,Epibulus,insidiator,Epibulus insidiator
28682,28683,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,6014,-17.500000,-149.000000,1.0,25.100000,Epinephelus,merra,Epinephelus merra
28683,28684,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,6137,-17.500000,-149.000000,18.0,11690.000000,Fistularia,commersonii,Fistularia commersonii
28684,28685,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,6149,-17.500000,-149.000000,4.0,358.799988,Forcipiger,flavissimus,Forcipiger flavissimus
28685,28686,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,6915,-17.500000,-149.000000,2.0,203.699997,Lutjanus,fulvus,Lutjanus fulvus
28686,28687,45,17.0,7.0,2007,-17.500000_-149.000000_LTER_2_Fringing_Reef_Fi...,NaN,8592,-17.500000,-149.000000,19.0,382.630005,Stegastes,nigricans,Stegastes nigricans
28687,28688,45,1.0,8.0,2009,-17.500000_-149.000000_LTER_3_Fringing_Reef_Fi...,NaN,8009,-17.500000,-149.000000,2.0,1.620000,Pseudocheilinus,hexataenia,Pseudocheilinus hexataenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8496838,8528598,512,NaN,NaN,1994,Oberes_Vessertal_NW_Vesser_T142_1994,T142,51065,50.604418,10.782824,0.0,1.000000,Lotus,uliginosus,Lotus uliginosus
8496839,8528599,512,NaN,NaN,1994,Oberes_Vessertal_NW_Vesser_T142_1994,T142,51068,50.604418,10.782824,0.0,1.000000,Scirpus,sylvaticus,Scirpus sylvaticus
8496840,8528600,512,NaN,NaN,1994,Oberes_Vessertal_NW_Vesser_T142_1994,T142,51083,50.604418,10.782824,0.0,4.000000,Holcus,mollis,Holcus mollis
8496841,8528601,512,NaN,NaN,1994,Oberes_Vessertal_NW_Vesser_T142_1994,T142,51116,50.604418,10.782824,0.0,1.000000,Ranunculus,auricomus,Ranunculus auricomus
8496842,8528602,512,NaN,NaN,1994,Oberes_Vessertal_NW_Vesser_T142_1994,T142,51144,50.604418,10.782824,0.0,37.500000,Carex,fusca,Carex fusca
8496843,8528603,512,NaN,NaN,1994,Oberes_Vessertal_NW_Vesser_T142_1994,T142,51145,50.604418,10.782824,0.0,1.000000,Chaerophyllum,hirsutum,Chaerophyllum hirsutum
8496844,8528604,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,1467,51.527850,13.052058,0.0,1.000000,Lolium,perenne,Lolium perenne
8496845,8528605,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,2296,51.527850,13.052058,0.0,4.000000,Taraxacum,officinale,Taraxacum officinale
8496846,8528606,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,38098,51.527850,13.052058,0.0,4.000000,Convolvulus,arvensis,Convolvulus arvensis
8496847,8528607,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,40327,51.527850,13.052058,0.0,62.500000,Alopecurus,pratensis,Alopecurus pratensis
8496848,8528608,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,40334,51.527850,13.052058,0.0,1.000000,Cerastium,holosteoides,Cerastium holosteoides
8496849,8528609,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,40348,51.527850,13.052058,0.0,37.500000,Poa,pratensis,Poa pratensis
8496850,8528610,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,40349,51.527850,13.052058,0.0,4.000000,Poa,trivialis,Poa trivialis
8496851,8528611,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,42016,51.527850,13.052058,0.0,4.000000,Capsella,bursa-pastoris,Capsella bursa-pastoris
8496852,8528612,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,42338,51.527850,13.052058,0.0,1.000000,Silene,alba,Silene alba
8496853,8528613,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,42351,51.527850,13.052058,0.0,4.000000,Stellaria,media,Stellaria media
8496854,8528614,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,50070,51.527850,13.052058,0.0,87.500000,Agropyron,repens,Agropyron repens
8496855,8528615,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,51055,51.527850,13.052058,0.0,4.000000,Geranium,pratense,Geranium pratense
8496856,8528616,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,51110,51.527850,13.052058,0.0,1.000000,Rumex,thyrsiflorus,Rumex thyrsiflorus
8496857,8528617,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T40_1994,T40,680,51.527850,13.052058,0.0,1.000000,Dactylis,glomerata,Dactylis glomerata
8496858,8528618,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,2296,51.527676,13.051715,0.0,1.000000,Taraxacum,officinale,Taraxacum officinale
8496859,8528619,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,27,51.527676,13.051715,0.0,1.000000,Achillea,millefolium,Achillea millefolium
8496860,8528620,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,40327,51.527676,13.051715,0.0,37.500000,Alopecurus,pratensis,Alopecurus pratensis
8496861,8528621,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,40348,51.527676,13.051715,0.0,15.000000,Poa,pratensis,Poa pratensis
8496862,8528622,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,49265,51.527676,13.051715,0.0,1.000000,Ranunculus,repens,Ranunculus repens
8496863,8528623,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,49337,51.527676,13.051715,0.0,1.000000,Urtica,dioica,Urtica dioica
8496864,8528624,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,50070,51.527676,13.051715,0.0,37.500000,Agropyron,repens,Agropyron repens
8496865,8528625,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,51037,51.527676,13.051715,0.0,4.000000,Potentilla,reptans,Potentilla reptans
8496866,8528626,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,51147,51.527676,13.051715,0.0,1.000000,Symphytum,officinale,Symphytum officinale
8496867,8528627,512,NaN,NaN,1994,Torgauer_Elbtal_bei_Kunzwerda_T44_1994,T44,680,51.527676,13.051715,0.0,1.000000,Dactylis,glomerata,Dactylis glomerata

In [9]:
d2 = data.rename(columns={'sum.allrawdata.ABUNDANCE': 'ABUNDANCE', 'sum.allrawdata.BIOMASS': 'BIOMASS',
                         'doesnt_exist': 'also_doesnt_exist'})
print(d2.columns.tolist())

['Unnamed: 0', 'STUDY_ID', 'DAY', 'MONTH', 'YEAR', 'SAMPLE_DESC', 'PLOT', 'ID_SPECIES', 'LATITUDE', 'LONGITUDE', 'ABUNDANCE', 'BIOMASS', 'GENUS', 'SPECIES', 'GENUS_SPECIES']

In [10]:
from timeit import default_timer as timer
import numpy as np

# Data with only Abundance
def test(row):
#     print(row['ABUNDANCE'], row['BIOMASS'])
    return True

# def only_ab(row):
#     try:
#         if abundance > 0:
#             if biomass == 0.0 or biomass == numpy.nan:
#                 return True
#         return False
#     except TypeError:
#         print(abundance, biomass)
#         print(type(abundance), type(biomass))

t1 = timer()
d2.loc[d2['ABUNDANCE'] == 0.0, 'ab=0'] = True
t2 = timer()
d2.loc[d2['ABUNDANCE'].isna(), 'ab=na'] = True
t3 = timer()
d2.loc[d2['BIOMASS'] == 0.0, 'bio=0'] = True
t4 = timer()
d2.loc[d2['BIOMASS'].isna(), 'bio=na'] = True
t5 = timer()

In [11]:
print(t2-t1, t3-t2, t4-t3, t5-t4)

2.0183445519996894 6.771100443999785 7.119980536000185 7.9055749709996235

In [12]:
new_cols = ['ab=0','ab=na','bio=0','bio=na']
d2[new_cols] = d2[new_cols].fillna(False)

In [13]:
d2.head()

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,ABUNDANCE,BIOMASS,GENUS,SPECIES,GENUS_SPECIES,ab=0,ab=na,bio=0,bio=na
0,1,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,23,47.4,-95.12,1.0,0.0,Acer,saccharum,Acer saccharum,False,False,True,False
1,2,10,NaN,NaN,1984,47.400000_-95.120000_9_Treefall_Base_Small,9,23,47.4,-95.12,2.0,0.0,Acer,saccharum,Acer saccharum,False,False,True,False
2,3,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Small,1,1959,47.4,-95.12,2.0,0.0,Prunus,virginiana,Prunus virginiana,False,False,True,False
3,4,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,22,47.4,-95.12,2.0,0.0,Acer,rubrum,Acer rubrum,False,False,True,False
4,5,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,1959,47.4,-95.12,1.0,0.0,Prunus,virginiana,Prunus virginiana,False,False,True,False

In [14]:
# Biomass and Abundance are 0
print("A and B are 0:", len(d2.loc[ (d2['ab=0']) & (d2['bio=0']) ]))
# Biomass and Abundance are NaN
print("A and B are NaN:", len(d2.loc[ (d2['ab=na']) & (d2['bio=na']) ]))
# Abundance is non-zero, Biomass is non-zero
any_length = len(d2.loc[ d2[new_cols].any(axis=1) ])
total_length = len(d2)
print("A and B are non-empty:", (total_length-any_length)/total_length*100, "%")
# Biomass and Abundance are empty or 0
print("A and B are both 0 or NaN:", len(d2.loc[ (d2["ab=0"] | d2['ab=na']) & (d2['bio=0'] | d2['bio=na']) ]))

A and B are 0: 0
A and B are NaN: 0
A and B are non-empty: 18.260930301776664 %
A and B are both 0 or NaN: 0

###### Conclusion:
Biomass and Abundance are never both empty, but are only both filled 18% of the time.

In [15]:
len(data['GENUS_SPECIES'].unique())

44575

In [16]:
len(data['GENUS'].unique())

15475

In [17]:
data.groupby(["GENUS", "SPECIES"]).count().reset_index()

,GENUS,SPECIES,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS_SPECIES
0,Abagrotis,apposita,23,23,23,23,23,23,23,23,23,23,23,23,23
1,Abagrotis,baueri,1,1,1,1,1,1,1,1,1,1,1,1,1
2,Abagrotis,erratica,11,11,11,11,11,11,11,11,11,11,11,11,11
3,Abagrotis,forbesi,5,5,5,5,5,5,5,5,5,5,5,5,5
4,Abagrotis,glenni,2,2,2,2,2,2,2,2,2,2,2,2,2
5,Abagrotis,nefascia,19,19,19,19,19,19,19,19,19,19,19,19,19
6,Abagrotis,placida,13,13,13,13,13,13,13,13,13,13,13,13,13
7,Abagrotis,pulchrata,12,12,12,12,12,12,12,12,12,12,12,12,12
8,Abagrotis,reedi,4,4,4,4,4,4,4,4,4,4,4,4,4
9,Abagrotis,scopeops,19,19,19,19,19,19,19,19,19,19,19,19,19
10,Abagrotis,trigona,18,18,18,18,18,18,18,18,18,18,18,18,18
11,Abagrotis,variata,6,6,6,6,6,6,6,6,6,6,6,6,6
12,Abalistes,stellatus,1642,1642,1642,1642,1642,1642,0,1642,1642,1642,1642,1642,1642
13,Abarema,barbouriana,4,4,4,4,4,4,0,4,4,4,4,4,4
14,Abarema,macradenia,8,8,8,8,8,8,0,8,8,8,8,8,8
15,Abarenicola,pacifica,25,25,25,25,25,25,13,25,25,25,25,25,25
16,Abdera,flexuosa,25,25,25,25,25,25,25,25,25,25,25,25,25
17,Aberranta,enigmatica,7,7,7,7,7,7,0,7,7,7,7,7,7
18,Aberranta,sp122,2,2,2,2,2,2,0,2,2,2,2,2,2
19,Aberrodomus,candidus,4,4,4,4,4,4,0,4,4,4,4,4,4
20,Aberts,Towhee,1374,1374,1374,1374,1374,1374,0,1374,1374,1374,1374,1374,1374
21,Abidexter,sp,1,1,1,1,1,1,1,1,1,1,1,1,1
22,Abies,alba,38,38,5,5,38,38,38,38,38,38,38,38,38
23,Abies,amabilis,3906,3906,3906,3906,3906,3906,0,3906,3906,3906,3906,3906,3906
24,Abies,balsamea,767,767,340,340,767,767,287,767,767,767,767,767,767
25,Abies,concolor,764,764,764,764,764,764,0,764,764,764,764,764,764
26,Abies,grandis,460,460,460,460,460,460,0,460,460,460,460,460,460
27,Abies,lasiocarpa,359,359,359,359,359,359,0,359,359,359,359,359,359
28,Abies,magnifica,287,287,287,287,287,287,0,287,287,287,287,287,287
29,Abies,procera,1625,1625,1625,1625,1625,1625,0,1625,1625,1625,1625,1625,1625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39493,Zoothera,naevia,195,195,0,0,195,195,195,195,195,195,195,195,195
39494,Zoothera,sibirica,59,59,59,59,59,59,59,59,59,59,59,59,59
39495,Zophodia,grossulariella,15,15,15,15,15,15,0,15,15,15,15,15,15
39496,Zoroaster,alternicanthus,75,75,75,75,75,75,0,75,75,75,75,75,75
39497,Zoroaster,planus,1,1,1,1,1,1,0,1,1,1,1,1,1
39498,Zoroaster,singletoni,4,4,4,4,4,4,0,4,4,4,4,4,4
39499,Zoroaster,spinulosus,24,24,24,24,24,24,0,24,24,24,24,24,24
39500,Zoroaster,variacanthus,1,1,1,1,1,1,0,1,1,1,1,1,1
39501,Zostera,marina,327,327,327,327,327,327,9,327,327,327,327,327,327
39502,Zostera,noltei,34,34,34,34,34,34,0,34,34,34,34,34,34
39503,Zosteropoda,hirtipes,63,63,63,63,63,63,63,63,63,63,63,63,63
39504,Zosterops,japonicus,4523,4523,4523,4523,4523,4523,4523,4523,4523,4523,4523,4523,4523
39505,Zotheca,tranquilla,69,69,69,69,69,69,69,69,69,69,69,69,69
39506,Zu,cristatus,3,3,3,3,3,3,0,3,3,3,3,3,3
39507,Zu,elongatus,19,19,19,19,19,19,0,19,19,19,19,19,19
39508,Zuelania,guidonia,8,8,8,8,8,8,0,8,8,8,8,8,8
39509,Zungaro,zungaro,2,2,2,2,2,2,0,2,2,2,2,2,2
39510,Zygeupolia,rubens,17,17,17,17,17,17,0,17,17,17,17,17,17
39511,Zygonemertes,virescens,34,34,32,32,34,34,0,34,34,34,34,34,34
39512,Zygopa,michaelis,3,3,2,2,3,3,0,3,3,3,3,3,3
39513,Zygopalme,crystallina,1,1,1,1,1,1,0,1,1,1,1,1,1
39514,Zygosphaera,marsilii,5,5,5,5,5,5,0,5,5,5,5,5,5
39515,Zyras,collaris,1,1,1,1,1,1,0,1,1,1,1,1,1
39516,Zyras,sp,2,2,2,2,2,2,2,2,2,2,2,2,2
39517,dead,wood,18,18,18,18,18,18,18,18,18,18,18,18,18
39518,imonia,sp1,197,197,0,0,197,197,197,197,197,197,197,197,197
39519,imonia,sp2,23,23,0,0,23,23,23,23,23,23,23,23,23
39520,input8_GENUS,input8_SPECIES,3,3,3,3,3,3,3,3,3,3,3,3,3
39521,parascorpaena,mossambica,2,2,2,2,2,2,0,2,2,2,2,2,2
39522,solidago,drummondii,2,2,2,2,2,2,0,2,2,2,2,2,2

In [18]:
genus = data.groupby("GENUS")['SPECIES'].count().reset_index()

In [19]:
genus.loc[ genus['SPECIES'] == 0 ].head(20)

       GENUS  SPECIES
0       ABTO        0
1    ACERALB        0
2       ACWO        0
3       AGEL        0
4       AGWT        0
5   ALNUCRIS        0
6   ALNUTENU        0
7       AMAV        0
8       AMCO        0
9       AMCR        0
10   AMELARB        0
11   AMELCAN        0
12      AMGO        0
13      AMKE        0
14      AMPI        0
15      AMRO        0
16      AMWI        0
17      ANHU        0
18      ATFL        0
19      AUWA        0

In [20]:
data[ (data['GENUS'] == "Alnus") ]['SPECIES'].unique()

array(['rubra', 'incana', 'sinuata', 'glutinosa', 'sp', 'viridis'],
      dtype=object)

### Checking the date data

In [21]:
mdata = data.loc[ (data['MONTH'] > 0) ]
mdata2 = data.loc[ (data['MONTH'] > 0) & (data['DAY'] > 0)]
print("Data:", len(data))
print("MData:", len(mdata))
print("MData2:", len(mdata2))

Data: 8547248
MData: 7138870
MData2: 7115466

In [22]:
# All rows that have an invalid month value
print(len(data.loc[data['MONTH'] > 12]))
print(len(mdata.loc[mdata['MONTH'] > 12]))
print(len(mdata2.loc[mdata2['MONTH'] > 12]))

12520
12520
12520

In [23]:
# All rows that have an invalid month value that could have had their month-day values switched.
len(mdata2.loc[(mdata2['MONTH'] > 12) & (mdata2['DAY'] <= 12)])

12520

In [24]:
# All rows with technically valid month values that could also be wrong
at_risk_rows = len(mdata2.loc[(mdata2['MONTH'] <= 12) & (mdata2['DAY'] <= 12)])
print(at_risk_rows)

3163167

In [25]:
# Remaining rows that are presumably safe
print((len(mdata2) - at_risk_rows)/len(mdata2)* 100, "%")

55.545188466925424 %

In [26]:
print((len(mdata) - at_risk_rows)/len(mdata)* 100, "%")

55.690928676387166 %

In [27]:
# Finding the study IDs of the switched rows
mdata2.loc[(mdata2['MONTH'] > 12) & (mdata2['DAY'] <= 12)]['STUDY_ID'].value_counts()

321    9218
54     3302
Name: STUDY_ID, dtype: int64

In [28]:
len(mdata2.loc[ mdata2['STUDY_ID'].isin([321, 54])])

34172

In [29]:
len(data.loc[ data['STUDY_ID'].isin([321, 54])])

34172

#### Conclusion:
All invalid month data could have been the result of Americanized date systems, getting the month and the day mixed up.
However, given that this has happened, that means that there are at least `3 Million` rows of data in which the month and day could still have been mixed up, without being able to tell.

In [30]:
data.tail()

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
8547243,44065100,249,9.0,9.0,2007,9_9_2007_55.702512_12.558956,NaN,39472,55.702512,12.558956,25.0,0.0,Xestia,c-nigrum,Xestia c-nigrum
8547244,44066100,249,9.0,9.0,2007,9_9_2007_55.702512_12.558956,NaN,39478,55.702512,12.558956,4.0,0.0,Yponomeuta,cagnagella,Yponomeuta cagnagella
8547245,44067100,249,9.0,9.0,2007,9_9_2007_55.702512_12.558956,NaN,39481,55.702512,12.558956,2.0,0.0,Yponomeuta,malinellus,Yponomeuta malinellus
8547246,44068100,249,9.0,9.0,2007,9_9_2007_55.702512_12.558956,NaN,39490,55.702512,12.558956,1.0,0.0,Ypsolopha,parenthesella,Ypsolopha parenthesella
8547247,44069100,249,9.0,9.0,2007,9_9_2007_55.702512_12.558956,NaN,39493,55.702512,12.558956,1.0,0.0,Ypsolopha,sylvella,Ypsolopha sylvella

In [31]:
metadata = pd.read_csv("data/metadata.csv")

In [32]:
metadata.head()

,STUDY_ID,REALM,CLIMATE,GENERAL_TREAT,TREATMENT,TREAT_COMMENTS,TREAT_DATE,HABITAT,PROTECTED_AREA,BIOME_MAP,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,10,Terrestrial,Temperate,NaN,NaN,NaN,NaN,Woodland,False,Temperate broadleaf and mixed forests,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18,Terrestrial,Temperate,NaN,NaN,NaN,NaN,Sagebrush steppe,False,Deserts and xeric shrublands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33,Marine,Temperate,NaN,NaN,NaN,NaN,Seaweed beds,False,Temperate shelf and seas ecoregions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,39,Terrestrial,Temperate,NaN,NaN,NaN,NaN,Deciduous forest,False,Temperate broadleaf and mixed forests,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41,Terrestrial,Temperate,NaN,NaN,NaN,NaN,Woodland,False,Temperate broadleaf and mixed forests,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
metadata['CLIMATE'].unique()

array(['Temperate', 'Tropical', 'Polar', 'Polar/Temperate',
       'Temperate/Tropical', 'Global'], dtype=object)

In [34]:
len(metadata.columns.tolist())

66

In [35]:
metadata.columns.tolist()

['STUDY_ID',
 'REALM',
 'CLIMATE',
 'GENERAL_TREAT',
 'TREATMENT',
 'TREAT_COMMENTS',
 'TREAT_DATE',
 'HABITAT',
 'PROTECTED_AREA',
 'BIOME_MAP',
 'TAXA',
 'ORGANISMS',
 'TITLE',
 'AB_BIO',
 'HAS_PLOT',
 'DATA_POINTS',
 'START_YEAR',
 'END_YEAR',
 'CENT_LAT',
 'CENT_LONG',
 'NUMBER_OF_SPECIES',
 'NUMBER_OF_SAMPLES',
 'NUMBER_LAT_LONG',
 'TOTAL',
 'GRAIN_SIZE_TEXT',
 'GRAIN_SQ_KM',
 'AREA_SQ_KM',
 'CONTACT_1',
 'CONTACT_2',
 'CONT_1_MAIL',
 'CONT_2_MAIL',
 'LICENSE',
 'WEB_LINK',
 'DATA_SOURCE',
 'METHODS',
 'SUMMARY_METHODS',
 'LINK_ID',
 'COMMENTS',
 'DATE_STUDY_ADDED',
 'ABUNDANCE_TYPE',
 'BIOMASS_TYPE',
 'SAMPLE_DESC_NAME',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65']

In [36]:
metadata.loc[ metadata['STUDY_ID'].isin([321, 54])]['WEB_LINK']

11     http://luq.lternet.edu/data/luqmetadata107/7427
175    http://jornada.nmsu.edu/lter/dataset/49798/view
Name: WEB_LINK, dtype: object